- model_class = <%= singular_table_name.classify %>
.page-header
  = link_to t("helpers.links.back"), <%= index_helper %>_path, class: "btn btn-default pull-right"
  %h1=t "helpers.titles.new", model: model_class.model_name.human
= render partial: "form"
