- model_class = Facility
.page-header
  = link_to t("helpers.links.back"), manage_facilities_path, class: "btn btn-default pull-right"
  %h1=t "helpers.titles.new", model: model_class.model_name.human
= render partial: "form"
